/*
Created on : 10 July, 2020, 05:00:00 PM
Author     : Victor Laynez 
Canal of youtube: https://www.youtube.com/channel/UCyh1gKvoLx0Jk4ujhS3OIUA?view_as=subscriber
*/

/*LOGIN WINDOW CSS*/

/*JFXTextField Login*/
.jfx-text-field-login {
    -fx-accent:  #2ab56f;
}


/*Close JFXButton*/
.close-jfx-button-login-window .glyph-icon, 
.jfx-rippler {
    -fx-background-color: none;
    -fx-fill: grey;
    -jfx-rippler-fill: none;
}

.close-jfx-button-login-window:hover {
    -fx-background-color: none;
}

.close-jfx-button-login-window:hover .glyph-icon, 
.close-jfx-button-login-window:hover .glyph-icon, 
.close-jfx-button-login-window:pressed .glyph-icon {  
    -fx-background-color: none;
    -fx-fill: black;
} 

/*JFXButton login*/ 

.login-jfx-button {
    -fx-background-color:  #2ab56f;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

.login-jfx-button:hover, 
.login-jfx-button:pressed {
    -fx-background-color:  #2BA266;
    -fx-text-fill: white;
    -jfx-rippler-fill: #2BA266;
}

.login-jfx-button .jfx-rippler {
    -jfx-rippler-fill: #2BA266;
}

/*Icons login*/
.glyph-icon-login {
    -fx-fill: grey;  
}

.glyph-icon-login:hover {
    -fx-fill: white;  
}

/*MAIN WINDOW CSS*/

/*Icons Main*/
.jfx-button-main:hover {
    -fx-background-color : #76787c;
    -fx-text-fill: white;
}

.jfx-button-main:hover .glyph-icon, 
.jfx-button-main:hover .glyph-icon, 
.jfx-button-main:pressed .glyph-icon {  
    -fx-fill: white;
}

/*HOME WINDOW CSS*/

/*TableViews*/
.cell-button-administrador {
    -fx-background-color: #2ab56f;
    -fx-text-fill: white;
}

.cell-button-user {
    -fx-background-color: #4A86FF;
    -fx-text-fill: white;
}

.cell-button-administrador .jfx-rippler {
    -jfx-rippler-fill: #2ab56f;
}

.cell-button-user .jfx-rippler {
    -jfx-rippler-fill: #4A86FF;
}

.cell-button-not-exists {
    -fx-background-color: #e14a4a;
    -fx-text-fill: white;
}

.cell-button-exists {
    -fx-background-color: #2ab56f;
    -fx-text-fill: white;
}

.cell-button-not-exists .jfx-rippler { 
    -jfx-rippler-fill: #e14a4a;
}

.cell-button-exists .jfx-rippler {
    -jfx-rippler-fill: #2ab56f;
}

.table-cell {
    -fx-border-color: transparent; 
}

.table-view .column-header, 
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:white;
}

.table-view .column-header .label {

    -fx-text-fill: #76787c;
    -fx-font-weight: bold;
    -fx-font-size:15;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-font-size: 15;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:#cccdd0;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

/*Add action JFXButton*/
.jfx-button-add-action {
    -fx-background-color: #2ab56f;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

.jfx-button-add-action:hover, 
.jfx-button-add-action:pressed {
    -fx-background-color:  #2BA266;
    -fx-text-fill: white;
    -jfx-rippler-fill: #2BA266;
}

.jfx-button-add-action .jfx-rippler {
    -jfx-rippler-fill: #2BA266;
}


/*CUSTOMERS WINDOWS */
.close-jfx-button-customers .jfx-rippler {
    -fx-background-color: transparent;
    -fx-fill: grey;
    -jfx-rippler-fill: white;
}

.close-jfx-button-customers:hover {
    -fx-background-color: transparent;
}

.close-jfx-button-customers:hover .glyph-icon,
.close-jfx-button-customers:hover .glyph-icon, 
.close-jfx-button-customers:pressed .glyph-icon {  
    -fx-background-color: transparent;
    -fx-fill: black;
}

.button-cancel {  
    -fx-text-fill: black;
    -fx-background-color: white;
}

.button-cancel:hover, 
.button-cancel:pressed {
    -fx-background-color: #FDFEFD;
    -fx-text-fill: #2BA266;

}

.button-cancel .jfx-rippler {
    -jfx-rippler-fill: #FDFEFD;
}

.delete-jfx-button {
    -fx-background-color: #e14a4a;
    -fx-text-fill: white;
}

.delete-jfx-button:hover, 
.delete-jfx-button:pressed {
    -fx-background-color:  #DE1A1A;
    -fx-text-fill: white;
    -jfx-rippler-fill: #DE1A1A;
}

.delete-jfx-button .jfx-rippler {
    -jfx-rippler-fill: #DE1A1A;
}


.cancel-delete {
    -fx-text-fill: grey;
}

.cancel-delete:hover, 
.cancel-delete:pressed  {
    -fx-background-color:  white;
    -fx-text-fill: black;
    -jfx-rippler-fill: white;
}

.cancel-delete .jfx-rippler {
    -jfx-rippler-fill: white;
}



.menu-item .label {
    -fx-text-fill: grey;
    -fx-fill: black;
    -fx-font-size: 15;
    -fx-font-family: rimouski;
}

.menu-item:hover, 
.menu-item:focused, 
.menu-item:focused .label {
    -fx-background-color: #2ab56f;  
    -fx-text-fill: white;
    -fx-fill: black;
}

.menu-item:hover .glyph-icon, 
.menu-item:focused .glyph-icon {
    -fx-background-color: #2ab56f;  
    -fx-text-fill: white;
    -fx-fill: white;
}


.date-picker .text-field {
    -fx-font-size: 14;
    -fx-background-color: transparent;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

.date-picker .cell:focused {
    -fx-background-color: #2ab56f;
    -fx-text-fill: white;
}
.date-picker .cell:hover {
    -fx-background-color: #09CE45;
    -fx-text-fill: white;
}

#arrow-button .jfx-svg-glyph {
    -fx-shape: "m15.001 421h75v45c0 8.284 6.716 15 15 15h392c8.284 0 15-6.716 15-15v-390c0-8.284-6.716-15-15-15h-75v-15c0-8.284-6.716-15-15-15s-15 6.716-15 15v15h-76v-15c0-8.284-6.716-15-15-15s-15 6.716-15 15v15h-75v-15c0-8.284-6.716-15-15-15s-15 6.716-15 15v15h-76c-8.284 0-15 6.716-15 15v90c0 110.55-45.945 195.596-84.603 228.477-4.852 4.043-6.651 10.691-4.502 16.63 2.151 5.938 7.789 9.893 14.105 9.893zm467 30h-362v-30h287c3.509 0 6.907-1.23 9.603-3.477 18.032-15.019 45.963-50.777 65.397-96.575zm-362-360h61v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15h75v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15h76v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15h60v60h-362zm-.257 89.99h361.991c-3.38 95.155-39.901 170.023-80.616 210.01h-351.999c46.133-58.781 68.149-135.318 70.624-210.01z";
}

.date-picker .text-field {
    -jfx-unfocus-color: #bebec2;
}

/*Combo Box */
.combo-box {  
    -fx-font-size: 14;
    -fx-background-color:  transparent;
}

.combo-box-popup .list-cell {    
    -fx-background-color: white;    
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #2ab56f;
    -fx-text-fill: white;
}

.jfx-dialog-overlay-pane > StackPane{
    -fx-background-radius: 10;
    -fx-background-color: white;
}

.data0.chart-pie {
    -fx-pie-color: #2ab56f;
}
.data1.chart-pie {
    -fx-pie-color: #2BA266;
}
.data2.chart-pie {
    -fx-pie-color: #41C474;
}
.chart-pie-label {
    -fx-font-size: 18;
    -fx-fill: black;
}

.button-start-dialog {
    -fx-background-color: #2d3037;
    -fx-text-fill: white;
    -fx-pref-height: 20px;
    -fx-pref-width: 100px;
}

.button-start-dialog .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-start {
    -fx-background-color: #2d3037;
    -fx-text-fill: white;
}

.button-start .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-start-back {
    -fx-background-color: white;
    -fx-border-color: #2d3037;
    -fx-border-width: 1.5;
    -fx-text-fill: black;
}

.button-start-back .jfx-rippler {
    -jfx-rippler-fill: none;
}

.jfx-text-field-start {
    -fx-accent:  #2d3037;
}

/*Combo Box */
.combo-box-start {  
    -fx-font-size: 14;
    -fx-background-color:  transparent;
}

.combo-box-popup-start .list-cell {    
    -fx-background-color: white;    
    -fx-text-fill: black;
}

.combo-box-popup-start .list-view .list-cell:filled:hover{
    -fx-background-color: #2d3037;
    -fx-text-fill: white;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 30;
}

.jfx-progress-bar > .bar {
    -fx-background-color:  #2d3037;
}

.button-alert-error {
    -fx-background-color: #f35f56;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-pref-height: 50px;
    -fx-pref-width: 340px;
}

.button-alert .jfx-rippler {
    -jfx-rippler-fill: none;
}

.title-alert-error {
    -fx-fill: #f35f56;
    -fx-font-size: 30;
}

.body-alert-error {
    -fx-fill: #f35f56;
    -fx-font-size: 15;
}

.button-alert-success {
    -fx-background-color: #2ab56f;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-pref-height: 50px;
    -fx-pref-width: 340px;
}

.button-alert-success .jfx-rippler {
    -jfx-rippler-fill: none;
}

.title-alert-success {
    -fx-fill: #2ab56f;
    -fx-font-size: 30;
}

.body-alert-success {
    -fx-fill: #2ab56f;
    -fx-font-size: 15;
}

.password-field-cell {
    -fx-background-color: transparent;
    -fx-text-fill:  black;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
}

.table-row-cell:selected .password-field-cell {
    -fx-background-color:  #cccdd0;
    -fx-text-fill:  white;
}

.scroll-bar:vertical>.track-background, .scroll-bar:horizontal>.track-background {
    -fx-background-color: rgb(230.0, 230.0, 230.0);
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical>.thumb, .scroll-bar:horizontal>.thumb {
    -fx-background-color: rgb(200.0, 200.0, 200.0);
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button,
.scroll-bar:hover>.increment-button, .scroll-bar:hover>.decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar>.track-background {
    -fx-background-color: transparent;
}